table {
    background-color: red;
    width: 100%;
}

    table input[type="checkbox"] {
        padding: 50px;
    }

thead {
    background-color: grey;
}

    thead th {
        padding-top: 10px;
        padding-bottom: 10px;
    }

        thead th:first-of-type {
            padding-left: 20px;
        }

        thead th:last-of-type {
            padding-left: 20px;
        }

tbody tr {
    border-bottom: 1px solid black;
    padding: 10px 0;
}

tbody td {
    padding: 20px 50px 20px 0;
}

    tbody td:last-of-type {
        padding-left: 20px;
        padding-right: 20px;
    }


.space-out {
    display: flex;
    justify-content: space-between;
}

ul {
    width: 400px;
}

    ul li {
        border-bottom: 1px solid grey;
        list-style: none;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 5px;
    }

        ul li a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
        }

            ul li a:hover {
                text-decoration: revert;
            }

            ul li a div div:last-child {
                color: grey;
            }
